certifi==2020.6.20
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
gunicorn==20.0.4
numpy==1.18.5
pandas==1.0.5
psycopg2==2.8.4
python-dateutil==2.8.1
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445271541/work

