certifi==2020.6.20
click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
pandas @ file:///C:/ci/pandas_1592833613419/work
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1593445271541/work
Werkzeug==1.0.1
wincertstore==0.2
