/* Body */
body{
  background-color: #EDEDED;
}

/* Paragraph element */
p{
  text-align: justify;
 }

a{
  color: #6D8092;
  font-size: 15px; 
}

/* Map ID */
/* Set height of map */
#mapid {height: 600px; width: 800px;}

/* Navbar */
.navigation{
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: #13a56d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand{
  color: white; 
  margin-left: 30px; 
  padding: inherit; 
  font-weight: bold; 
  background-color: #13a56d;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand:hover{
  color: rgb(175, 175, 175) !important;
  }

.navbar{
  max-height: 57px; 
  background-color: white; 
  font-size: 15px; 
}
.nav-link:hover{
  background-color:#E7E7E7 !important;
  float: right;
 }

.active, .dropdown-menu .dropdown-item:active a:hover{
  background-color:#E7E7E7!important; 

}
.dropdown-item{
  color: #6D8092 !important; 
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
  background-color:#E7E7E7 !important; 
}

/* Images */
img{
  width:100% !important;
  height:100% !important;
}
#activeimage:hover{
  border-color:#13a56d;
  border-style: solid; 
  
} 

.panel:hover{
  border-color:#13a56d;
  border-style: solid; 

}

.vizualization{
  width:50% !important;
  height:50% !important;
}


/* Title Class  */
.title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 25px; 
}

/* Box Class*/
.box {
  margin-top: 60px; 
  margin-bottom: 62px; 
  padding: 10px 20px 15px; 
  color:black;
  background-color: white; 
}

/* Table */
.table{
  font-size: 15px; 
  border-top-color: white !important; 
}

/* Footer */
footer{
background-color: #666666; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #13a56d;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: #13a56d !important;
}
.navbar{
  max-height: none; 
  padding: inherit;
}
.navbar div{
  margin: inherit; 
  background-color: white;  
}
.navbar-brand{
  padding: 10px !important; 
}

button{
  margin-right: 30px; 
}
button:focus {

  outline: 1px dotted;
  /* outline: 5px auto -webkit-focusring-color; */
  
  }
}
  