<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Asheville Airbnb Data Analysis</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

  <div class="container">
    
    <div class="row">
      
      <div class="col-md-12 jumbotron text-center" href="static/images/Asheville_at_dusk.jpg">
        <h1>Asheville Airbnb Data Analysis</h1>
        <p>Exploratory Analysis of Airbnb’s in Asheville, NC</p>
      </div>
    
    </div>
    <div class="row">
      <p>This is an exploratory analysis of Airbnb listings in Asheville, North Carolina.</p>
      <p>Through this analysis, we hope to undersand the Airbnb rental landscape in Ashville through various static and interactive visualizations.</p> 
      
      <p>The dataset for the analysis is sourced from Inside Airbnb.</p>
      <p>The analysis has been done in Python and Source Code can be found on Github: </p>
    
    </div>

    <div class="row">
      <h2>Description of Data</h2>
      <p>The dataset comprises of three main tables:</p>
      
      <ul>
          <li>Listings: Detailed listings data showing 106 attributes for each listing</li>
          <li>Reviews: Detailed reviews given by the guests (Date, listing_id, reviewer_id, comment)</li>
          <li>Calendar: Provdies details of booking for teh next year by listing (listing_id, date, available, price)</li>
      </ul>
    
    </div>
    
             
    <div class="row">
      <h2>Data Analysis</h2>
      <h4>Room Types Available in Ashville, NC</h4>
        <div id="roomType">
                    
        </div>
    </div>

    <div class="row">
      <h4>Types of Airbnb Listings in Ashville, NC</h4>
        <div id="propertyType">
            
            
        </div>
    </div>
  
    <div class="row">
      <!-- Property Finder div -->
      <h4>Property Finder</h4>
      <p>Ashville has over 2300 Airbnb listings as of May 2020.</p>
      <div id="propertyfinder"> 
      
      </div>
      
      <div class="row">
        <h4>Top 5 Neighbourhoods</h4>
        <p>The Top 5</p>
        <div id="top5"> 
        
        </div>
    </div> 
  </div> 
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
 
   <!--Chloropeth Dependency -->
  <!-- <script type="text/javascript" src="static/js/choropleth.js"></script> -->
  
  <!-- Mapbox API key -->
  <script type="text/javascript" src="static/js/config.js"></script>

  <!--D3 Dependency -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  
  <!-- Bar Plot Script -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/barplot.js"></script>
  
  <!-- Top5 neighbourhoods Script -->
  <script src="static/js/top5.js"></script>

  <!-- Property Finder Script   -->
  <script type="text/javascript" src="static/js/propertyfinder.js"></script>
  
</body>
</html>
