<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>Exploring Asheville's Airbnb Landscape</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>

  <body>

    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>
            <!-- Landscape in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('landscape') }}">Rental Landscape</a>
            </li>
            <!-- Listings in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('listings') }}">Listings</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('roomtypeplot') }}">Types of Listings</a>
                <a class="dropdown-item" href="{{ url_for ('propertytypesplot') }}">Listed Property Types</a>
                <a class="dropdown-item" href="{{ url_for ('hoodsavgpricesplot') }}">Average Prices by Neighbourhood</a>
                <a class="dropdown-item" href="{{ url_for ('pg_growth') }}">Growth Analysis</a>
                <a class="dropdown-item" href="{{ url_for ('ss_ratingsmap') }}">Highly Rated Listings</a>
                <a class="dropdown-item" href="{{ url_for ('js_pricesmap') }}">Neighbourhood Pricing</a>
              </div>
            </li>

            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->
    
    <!--Content Section Begins-->
    <div class="container">
      <!--Row 1 for Heading Section Begins-->
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>Airbnb Listings in Asheville, NC</h5>
          <p>Select options to explore the Airbnb Listings in Asheville.</p>
        </div>
      </div>
      <!--Row 1 for Heading Section ends-->   
      
      <!--Row 2 for main content Begins-->   
      <div class="row">
        <!--Row 2 small left pane for selectors begins --> 
        <div class="col-md-2">
          <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select> -->
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Neighbourhood</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Room Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Property Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Bedrooms</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Bathrooms</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Superhost</label>
            </div>
            <button type="submit" id="filterlistings" class="btn btn-primary">Filter</button>
          </form>
        </div>
        <!--Row 2 small left pane for selectors ends -->
        <!--Row 2 large left pane for displaying content begins -->
        <div class="col-md-10">
          <p>content table/maps will be included on this section of teh page</p>
        </div>
        <!--Row 2 large left pane for displaying content ends -->
      </div>
      <!--Row 2 for main content ends-->  
    </div>
    <!--Content Section Ends-->
    
    <!-- Footer Section Begins-->
    <footer>
      <div class="footer">Copyright &copy; Data Science Enthusiasts 2020</div>
    </footer>
    <!-- Footer Section Ends-->

    <!-- Plot JavaScript Files-->
    <script src="static/js/rw_landscape.js"></script>

    <!--D3 Dependency -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
    </body>
  </html>