<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic Map</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/ss_style.css">
</head>

<body>  
    <!-- Navigation Section Begins -->
    <div class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for ('index') }}">Overview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- List of items in the Navigation section -->
          <ul class="navbar-nav">
            <!-- Dashboard in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('dashboard') }}">Dashboard</a>
            </li>

            <!-- Listings in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('listings') }}">Listings</a>
            </li>

            <!-- Visualizations DropDown Menu in the Navigation Section -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for ('roomtypeplot') }}">Types of Listings</a>
                <a class="dropdown-item" href="{{ url_for ('propertytypesplot') }}">Listed Property Types</a>
                <a class="dropdown-item" href="{{ url_for ('pg_growth') }}">Growth Analysis</a>
                <a class="dropdown-item" href="{{ url_for ('hoodsavgpricesplot') }}">Average Prices by Neighbourhood</a>
                <a class="dropdown-item" href="{{ url_for ('ss_ratingsmap') }}">Highly Rated Listings</a>
                <a class="dropdown-item" href="{{ url_for ('js_pricesmap') }}">Neighbourhood Pricing</a>
                <a class="dropdown-item" href="{{ url_for ('pg_ratings') }}">Neighbourhood Ratings</a>
              </div>
            </li>

            <!-- Analysis Methodology in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('methodology') }}">Methodology</a>
            </li>

            <!-- Acknowledgements in the Navigation Section -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('acknowledgements') }}">Acknowledgements</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Navigation Section Ends -->
  
  <div id="map-holder">

    <!-- The div where we will inject our map -->
    <div class="container1 fill">
      <div id="map"></div>
    </div>

    <!-- The div where we will inject dropdown -->
    <div class="container2">
      <h5>Filter by Zip Code:</h5>
      <select id="zipCode" onchange="optionChanged(this.value)"></select>
    </div>

  </div>

  <!--Dependencies-->
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  
  <!-- API key -->
  <script type="text/javascript" src="/static/js/config.js"></script>
  
  <!-- JS -->
  <script type="text/javascript" src="/static/js/mapLogic.js"></script>
  
</body>
</html>
